{% extends "admin/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="form-container">
        <h1>{{ title }}</h1>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.name.label }}
                {{ form.name(class="form-control") }}
                {% for error in form.name.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.price.label }}
                {{ form.price(class="form-control") }}
                {% for error in form.price.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.features.label }}
                {{ form.features(class="form-control", rows=5) }}
                {% for error in form.features.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn") }}
                <a href="{{ url_for('admin.plans') }}" style="margin-left: 1rem;">Cancel</a>
            </div>
        </form>
    </div>
{% endblock %}