{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='themes/' + user.selected_theme) }}">
{% endblock %}

{% block content %}
<div class="profile-card" style="text-align: center;">
    <img src="{{ url_for('static', filename='profile_pics/' + user.profile_picture) }}" alt="Profile Picture" style="width: 150px; height: 150px; border-radius: 50%; object-fit: cover; margin-bottom: 20px;">
    <h1>@{{ user.username }}</h1>

    {% if user.bio %}
        <p>{{ user.bio }}</p>
    {% endif %}

    {% if user.payment_link %}
        <a href="{{ user.payment_link }}" target="_blank" class="payment-button">
            <button>Support Me</button>
        </a>
    {% endif %}

    <hr>

    {% for link in links %}
        <a href="{{ url_for('main.redirect_to_url', link_id=link.id) }}" target="_blank" class="link-button">{{ link.title }}</a>
    {% endfor %}
</div>
{% endblock %}
